body{
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
 /* background-color: rgb(240, 240, 240); */
}

html,body {
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 0;
  padding: 0;
  width: 100%
}

.font-h1 {
  font-weight: 300;
}

.carousel-item img{
    max-height: 80%;
}

.preschoolimg {
  background-image: url(../assets/preschool_banner.jpg);
  background-position: center;
  height:500px;
  background-size: cover;
}

.aboutusimg {
  background-color: rgba(0,0,0, 0.8);
  background-position: center;
  height:500px;
  background-size: cover;
}
.navbar, .navbar-expand-lg, .navbar-light{
  width: 68%;
  margin: auto;
  padding: 1rem 4rem 1rem 3rem;
  background: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left:1.0rem;
  padding-right: 1.0rem;
}

.navbar-toggler {
  padding: 0.1rem 0.4rem;
  transition: all 0.1s ease-in-out 0s;
}

.navbar-toggler:hover {
    background: #d6d6d6;
    transition: all 0.2s ease-in-out 0s;
}

.navbar-toggler:focus {
  box-shadow: none;

}

.center-container{
  width: 100%;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #555555;
}

.center-content{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.bg-beige{
  /* background-color: rgb(255, 251, 245); */
  background-color: beige;
}

.separator-line{
  width: 30%;
  border-top: 4px solid #818181;
  margin-top: 2rem;
}

#header{
  width: 100%;
  background-color: #ffffff;
  padding: 15px 0px 15px 0px;

  box-shadow: 0 14px 11px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 14px 11px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 14px 11px rgba(0, 0, 0, 0.1);
}

#mobile-header{
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px black;
  padding: 15px 0px 15px 0px;
}

/* index banner */
.banner-caption{
  color: #000;
  font-size: 30px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 30%;
  text-align: start;
}

.banner-caption .fineprint{
  font-size: 0.7vw;
  color: #555555;
  padding-top: 5px;
}

.banner-caption .btn-text{
  font-size: 1vw; 
  font-weight: 100;
}

.banner-caption h3{
  font-size: 1.5vw;
  font-weight: 300;
  padding-bottom: 10px;
}

.top-menu{
  list-style: none;
  float: right;
  margin-top: 10px;
}

.top-menu li{
  float: left;
  padding: 0px 15px;
}

.top-menu li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #d71440;
}

.top-menu li a:hover, .top-menu li a.active{
  color: grey;
}

.top-btn{
  float: right;
  display: block;
  padding: 15px;
  border: solid 1px #000000;
  margin-left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.top-btn:hover{
  background-color: #d71440;
}

/* Checkbox text */
.checkboxtext
{
  font-size: 90%;
}

/*sidenav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.web{
  display: block;
  visibility: visible;
}
.mobile{
  display: none;
  visibility: hidden;
}

.box img{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.tab-container{
  margin: auto;
}

/* Programmes */
.inner-container {
  width:70%;
  margin:auto;
}

.achievement-container {
  width: 100%;
  display:flex;
}

.nav-item a{
  color:gray;
}

.nav-item a:hover{
 color:gray;
}

.nav-tabs {
  border-bottom: none;
}

#preschool {
  background-color: rgba(243,233,161, 0.3);
}

#primary {
  background-color: rgba(213,189,205, 0.3);
}

#secondary {
  background-color: rgba(220,186,149, 0.3);
}

#jc {
  background-color: rgba(198,201,210, 0.3);
}

.nav-tabs .nav-item:nth-child(1) .active {
  background-color: rgba(243,233,161, 0.3);
  border-color: rgba(243,233,161, 0.3);
  border-bottom: none;
  color:black;
}

.nav-tabs .nav-item:nth-child(2) .active {
  background-color: rgba(213,189,205, 0.3);
  border-color: rgba(213,189,205, 0.3);
  border-bottom: none;
  color: black;
}

.nav-tabs .nav-item:nth-child(3) .active {
  background-color: rgba(220,186,149, 0.3);
  border-color: rgba(220,186,149, 0.3);
  border-bottom: none;
  color:black;
}

.nav-tabs .nav-item:nth-child(4) .active {
  background-color: rgba(198,201,210, 0.3);
  border-color: rgba(198,201,210, 0.3);
  border-bottom: none;
  color: black;
}

 #preenglish, #premt{
  background-color: rgb(251,248,227);
}
/* #prereview, #premath{
  background-color: rgb(240,230,145);
} */


/* index - programmes */
.programmes-container{
  display: grid;
  max-width: 68%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  font-size: x-large;
}

.programmes-container:nth-child(4){
  grid-column: span 2;
  margin-bottom: 10px;
}

.programmes-image {
  position: relative;
  width: 100%;
  margin: auto;
}

.programmes-hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%;
  height: 100%;
  background-color: black;
  transform: translate(-50%, -50%);
  border-radius: 32px;
}

.programmes-hover a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.programmes-image:hover .programmes-hover{
  opacity: 0.5;
  color: #fff;
  font-size:35px;
  font-weight:700;
}

.programmes-container a{
  text-decoration: none;
  color: white;
}



/* events */
.date-border{
  height: auto;
  margin: auto;
  padding-left: 20px;
  width: 68%;
  font-size: small;
  color: #ffffff;
  background-color: #818181;
}

.event-container{
  position: relative;
  margin: auto;
  width: 68%;
  display: grid;
  padding: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.event-container:nth-child(6){
  grid-column: span 3;
  margin-bottom: 10px;
}
/* curriculum */
.curriculum-container{
  display: grid;
  max-width: 68%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

}

.curriculum-container:nth-child(3){
  grid-column: span 3;
  margin-bottom: 10px;
}

.findoutmore-btn {
  color: white;
}

.findoutmore-btn:hover {
  opacity: 0.8;
}
/* contactus forms */
.contactus-container{
  display: grid;
  width: 68%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  grid-auto-rows: auto;
  text-align: justify;
}

.contactus-container:nth-child(2){
  grid-column: span 2;
  margin-bottom: 10px;
}

/* Course Fee */
.onlinecourse-container{
  height: auto;
  width: 68%;
  margin: auto;
}

.onlinecourse-bg{
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: lightgray;
}

/* Achievement */
.table,
.table tr,
.table td {
    border-color: black;
}

@media only screen and (max-width: 992px) {
  /* navbar-mobile */
  .navbar, .navbar-expand-lg, .navbar-light{
    width: 100%;
    margin: auto;
    padding: 1rem 4rem 1rem 3rem;
    background: white;
    transition: all 0s ease-in-out 0s;
  }

  /* index - programmes */
  .programmes-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .programmes-hover {
    width: 93%;
    border-radius: 16px;
  }

  /* contact us */
  .contactus-container{
    grid-template-columns: repeat(1, 1fr);
  }

  /* curriculum */
  .curriculum-container{
    grid-template-columns: repeat(1, 1fr);
  }

  /* events */
  .event-container{
    grid-template-columns: repeat(1, 1fr);
  }

  /* index banner */
  .banner-caption{
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 30%;
  }

   .banner-caption .fineprint{
    padding-top: 1px;
  }

  .banner-caption h3{
    padding-bottom: 0px;
  }

}
