body{
  font-family: 'Assistant', sans-serif;

  margin: 0px;
  padding: 0px;

  font-size: 16px;
}

.center-container{
  width: 100%;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #555555;
}

.center-content{
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.event-container{
  width: 100%;
  display: grid;
  padding: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: auto;
}

.event-container:nth-child(3){
  grid-column: span 3;
  margin-bottom: 10px;
}

.bg-beige{
  /* background-color: rgb(255, 251, 245); */
  background-color: beige;
}


.separator-line{
  width: 30%;
  border-top: 4px solid #818181;
}

#header{
  width: 100%;
  background-color: #ffffff;
  padding: 15px 0px 15px 0px;

  box-shadow: 0 14px 11px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 14px 11px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 14px 11px rgba(0, 0, 0, 0.1);
}

#mobile-header{
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px black;
  padding: 15px 0px 15px 0px;
}

.top-menu{
  list-style: none;
  float: right;
  margin-top: 10px;
}

.top-menu li{
  float: left;
  padding: 0px 15px;
}

.top-menu li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #d71440;
}

.top-menu li a:hover, .top-menu li a.active{
  color: grey;
}

.top-btn{
  float: right;
  display: block;
  padding: 15px;
  border: solid 1px #000000;
  margin-left: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.top-btn:hover{
  background-color: #d71440;
}



/* Checkbox text */
.checkboxtext
{
  font-size: 90%;
}

/*sidenav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.web{
  display: block;
  visibility: visible;
}
.mobile{
  display: none;
  visibility: hidden;
}

.box img{
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.tab-container{
  width: 70%;
  margin: auto;
}

/* curriculum */
.curriculum-container{
  display: grid;
  padding-left: 200px;
  padding-right: 200px;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: auto;
}

.curriculum-container:nth-child(3){
  grid-column: span 3;
  margin-bottom: 10px;
}

/* contactus forms */
.contactus-container{
  display: grid;
  padding-left: 200px;
  padding-right: 200px;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: auto;

}

.contactus-container:nth-child(2){
  grid-column: span 2;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .web{
    display: none;
    visibility: hidden;
  }
  .mobile{
    display: block;
    visibility: visible;
  }
}
